{% extends 'base.html' %}

{% block main_content %}
        <select required onchange="Dajaxice.Classes.redact_sitype(dumb_callback, {'situation':'{{cursit.id}}', 'type': this.value});">
        {% for item in sit_list %}
            <option value="{{item.id}}" {% if item == cursit.situation_type %} selected {% endif%} >{{item.name}}</option>
        {% endfor %}
</select>
		<h2>Рекомендации данной ситуации:</h2>
{% for item in recommendations %}
<a href="/expert/recommendations/{{item.id}}/"><h3>{{item.name}}</h3>{% if item in conflicts %} <font color="red">Имеет конфликты!</font>{% endif %}</a>
		<p>{{item.description}}</p><br> <a href="/expert/recommendations/{{item.id}}/delete/">delete</a>
{% endfor %}
<br>
{% if conflicted %}
Прежде чем добавлять новые рекомендации вы должны разрешить конфликты в уже сущетсвующих рекомендациях.
{% else %}
Добавить новую рекомендацию:
<form action="/expert/new_recommendation/" method="post">
    {% csrf_token %}
    <input name="name" type="text" placeholder="название" required><br>
	<input type="hidden" name="situation" value="{{situation}}"><br>
    <textarea name="description" placeholder="описание"></textarea><br>
<input type="submit" value="создать">
{% endif %}
</form>
		<h2>Вопросы данной ситуации:</h2>
{% for item in questions %}
<a href="/expert/questions/{{item.id}}/"><h3>{{item.name}}</h3></a> <a href="/expert/questions/{{item.id}}/delete/">delete</a><br>
{% endfor %}
<!--Добавить новый вопрос:-->
<!--<form action="/expert/new_question/" method="post">-->
    <!--{% csrf_token %}-->
    <!--<input name="name" type="text" placeholder="название" required><br>-->
	<!--<input type="hidden" name="situation" value="{{situation}}"><br>-->
    <!--<input type="submit" value="создать">-->
<!--</form>-->
{% endblock %}
