{% extends 'base.html' %}

{% block main_content %}
		<h2>Ответте на следующие вопросы:</h2>
        <form action="/solution/" method="post">
            {% csrf_token %}
            <input type="hidden" name ="sit" value="{{scenario}}">
{% for item in questions %}
		<p>{{item.quest.name}}</p>
        <select name="q{{item.quest.id}}">
            {% for answer in item.ans %}
            <option value="{{answer.id}}">{{answer.name}}</option>
            {% endfor %}
        </select>
{% endfor %}
        <input type="submit" value="Принять совет">
        </form>
{% endblock %}