{% extends 'base.html' %}

{% block main_content %}
		<h2>Ответьте на следующие вопросы:</h2>
        <form action="/questions/{{scenario}}/" method="post">
            {% csrf_token %}
            <input type="hidden" name ="answers" value="{{answers}}">
		<p>{{quest.name}}</p>
        <select name="question" required>
            {% for answer in ans %}
            <option value="{{answer.id}}">{{answer.name}}</option>
            {% endfor %}
        </select> <br>
        <input type="submit" value="отправить">
        </form>
        {% if files %}<h2>Модели</h2>{% endif %}
        {% for item in files %}
            <br /><img src="/media/{{item.file}}" width="300" height="240">
        {% endfor %}
{% endblock %}